:root {
    /* Tonalidades de colores VERDES */
    --color-green-1: #20DBD8;
    --color-green-2: #179FAC;
    --color-green-3: #126C7F;
    --color-green-4: #124654;
    --color-green-5: #122935;
    /* Tonalidades de colores AZULEZ */
    --color-blue-1: #0FFFF8;
    --color-blue-2: #03C8FA;
    --color-blue-3: #0980AC;
    --color-blue-4: #0E4965;
    --color-blue-5: #131D2B;
}


/* CSS General */

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1,
header p {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

main {
    margin: 0 auto;
    max-width: 720px;
}


/* ------- MEDIA QUERYS CSS ------- */


/* CSS Nav - Main (más de 720px) */

@media (min-width: 720px) {
    .nav-as {
        position: fixed;
        margin: 0;
        padding: 0;
        min-width: 270px;
        width: 280px;
        height: 100%;
        overflow-y: auto;
        overflow-x: 20%;
        background-color: var(--color-green-5);
    }
    .nav-as ul {
        padding: 10px;
    }
    header {
        background-color: var(--color-green-2);
        height: 180px;
        margin: 0 auto;
        margin-left: 280px;
    }
    .div-header {
        padding: 0;
        margin: 0 auto;
    }
    .main-as {
        margin-left: 310px;
        padding: 20px;
        max-width: 740px;
    }
}


/* ------- MEDIA QUERYS CSS ------- */


/* CSS Nav - Main (menos de 720px) */

@media (max-width: 720px) {
    .nav-as,
    .nav-as ul,
    .nav-as li,
    .nav-as a {
        display: none;
    }
    header {
        background-color: var(--color-green-2);
        min-height: 150px;
        margin: 0 auto;
    }
    .div-header {
        padding: 0;
        margin: 0 auto;
    }
    .main-as {
        margin: 0 auto;
        max-width: 720px;
        padding: 20px;
    }
}


/* CSS - NavBar */

.nav-as a {
    color: #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
}

.subnav-as li {
    list-style: none;
    color: #f2f2f2;
    font-style: italic;
    padding-left: 5px;
    margin: 7px 0;
    font-size: 0.9rem;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.nav-header a {
    color: #f2f2f2;
}


/* CSS Cajas de información de Incidentes */

section>h2 {
    font-size: 2.3em;
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
    margin-top: 55px;
    margin-bottom: 0;
}

section>p {
    text-align: justify;
    text-indent: 1em;
    margin: 5px 0;
}

.article-incidente {
    border: 2px solid lightgray;
    border-radius: 20px;
    padding: 10px;
}

.article-incidente>h2 {
    color: var(--color-blue-3);
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: 10px;
}

.container-incidente {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.9rem;
    text-align: justify;
}

.container-incidente>p {
    text-indent: 1rem;
    margin: 15px 0;
}

.span-nota-incidentes {
    font-style: italic;
    font-size: 0.7rem;
    color: #2f2f2f;
    margin: 16px 0;
    display: block;
}

.div-preguntas-incidentes {
    max-width: 600px;
    padding: 10px 15px;
    margin: 15px auto;
    font-size: 0.8rem;
    font-style: oblique;
    border-radius: 10px;
    color: #2f2f2f;
    background-color: #7bdcb5;
}

.div-preguntas-incidentes p {
    font-weight: bold;
}


/* CSS <iframe> */

iframe {
    display: inline-block;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}


/* Elementos Transitorios */

.subnav-as {
    display: none;
}