<!DOCTYPE html>
<html lang="es-ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Mesa de Ayuda</title>

    <!-- BOOTSTRAP CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
    <nav class="nav-as">
        <ul style="list-style: none;">
            <li><a href="#munidigital">MuniDigital</a></li>
            <ul>
                <li></li>
            </ul>
        </ul>
    </nav>

    <header>
        <div class="div-header">
            <h1>Manuales</h1>
            <p>En este apartado se encuentran los Manuales de uso de las distintas aplicaciones que se utilizan en el área.</p>
        </div>
        <div class="nav-header">
            <a href="../index.html">Inicio</a>
            <a href="mesa-ayuda.html">Mesa de Ayuda</a>
            <a href="manuales.html">Manuales</a>
        </div>
    </header>

    <main class="main-as">
        <section id="munidigital">
            <h2>MuniDigital</h2>
            <article>
                <h3>Manual de Carga de Incidentes - App Web</h3>
                <iframe src="../file/manual_de_uso_munigestión _desktop.pdf" frameborder="0"></iframe>
            </article>
        </section>
    </main>

</body>

</html>