<!DOCTYPE html>
<html lang="es-ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Mesa de Ayuda</title>

    <!-- BOOTSTRAP CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
    <nav id="nav-as" class="nav-as">
    </nav>
    <header>
        <div class="div-header">
            <h1>Mesa de Ayuda</h1>
            <p>En este apartado se enumeran todas las Áreas de Servicio que utilizarán los operadores del Centro de
                Contacto</p>
        </div>
        <div class="nav-header">
            <a href="../index.html">Inicio</a>
            <a href="mesa-ayuda.html">Mesa de Ayuda</a>
            <a href="manuales.html">Manuales</a>
        </div>
    </header>
    <main id="main-mesa-ayuda" class="main-as">
    </main>

    <!-- PRUEBA SCRIPT NAV-AS -->
    <script src="../js/nav-as.js"></script>

    <!-- PRUEBA SCRIPT MAIN-MESA-AYUDA -->
    <script src="../js/main-mesa-ayuda.js"></script>

    <!-- BOOTSTRAP JS Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>